<header class="site-header">

  <!-- Logo and title -->
  <div class="branding">
    {% if site.avatar %}
      <a href="{{ '/' | relative_url }}">
        <img
          alt="logo img"
          class="avatar{% if page.path == 'index.html' %} avatar_hide{% endif %}"
          src="{{ site.avatar | relative_url }}" />
        {% if page.path == 'index.html' %}
          <img
            alt="logo img"
            class="avatar"
            src="{{ site.avatar2 | relative_url }}" />
        {% endif %}
      </a>
    {% endif %}
  </div>

  <!-- Toggle menu -->
  <nav class="clear">
    <a
      aria-label="pull"
      id="pull"
      class="toggle"
      href="#">
      <i class="fas fa-bars fa-lg"></i>
    </a>

    <!-- Menu -->
    <ul class="hide">
      {% assign name_page = "" %}

      {% for page_ in site.pages %}
        {% unless page_.title == null or page_.hide or name_page contains page_.title %}
          <li class="separator">
            |
          </li>
          <li>
            <a
              class="clear{% if page.path == 'index.html' %} main_page_a{% endif %}"
              aria-label="{{ page_.title }}"
              title="{{ page_.title }}"
              href="{{ page_.url | relative_url }}">
              {% if page_.icon %}
                <i class="fas {{ page_.icon }}" aria-hidden="true"></i>
              {% else %}
                {{ page_.title }}
              {% endif %}
            </a>
          </li>
        {% endunless %}
        {% assign name_page = page_.title | append: name_page %}
      {% endfor %}
    </ul>

  </nav>
</header>