<div class="home">
    <div id="categories">
        <div class="category-groups">
            <div class="news-title-group">
                <span class="news-title">거대언어모델</span>
                <a class="blogs-link" href="https://ncsoft.github.io/ncresearch/varco-llm/">더보기</a>
            </div>
            <div class="news-group">
                {% assign news = site.data.news | sort: "date" | reverse %}
                {% for _news in news limit:1 %}
                    <div class="news_div">
                        <a href="https://ncsoft.github.io/ncresearch/varco-llm">
                            <h3 class="news_title">
                                {{ _news.title }}
                                {% if _news.new == true %}
                                    <span class="news-item-new"></span>
                                {% endif %}
                            </h3>
                        </a>
                        <div class="news_subtitle">
                            {{ _news.subtitle }}
                        </div>
                        <div class="news_date">
                            {{ _news.date }}
                        </div>
                        {% if _news.contents.size > 0 %}
                            <ul>
                                {% for content in _news.contents %}
                                    <li> {{ content }} </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <div>
                <span class="blogs-title">Blogs</span>
                <a class="blogs-link" href="https://ncsoft.github.io/ncresearch/blogs/">더보기</a>
            </div>
            <div class="category-group">
                {% assign posts = site.posts | sort: "index" | reverse %}
                {% assign counter = 0 %}
                {% for post in posts %}
                {% if counter < 6 %}
                    {% if post.show %}
                        {% assign counter=counter | plus:1 %} 
                        <div class="category-item">
                            {% if post.img_name %}
                            <div class="category-item-img">
                                <img src="{{site.baseurl}}/assets/img/post/{{post.permalink}}/{{post.img_name}}"></img>
                            </div>
                            {% endif %}
                            <a href="{{ post.url | relative_url }}" class="category-post-link">
                                <h3>
                                    {{ post.title }}
                                    {% if post.new == true %}
                                        <span class="category-item-new"></span>
                                    {% endif %}
                                </h3>
                            </a>
                            {% if post.tags.size > 0 %}
                                <div class='tag-list'>
                                    {% for tag in post.tags %}
                                        {% if tag != ' ' %}
                                            <a class='button' href='{{site.baseurl}}/tags/#{{ tag }}'>{{ tag }}</a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endif %}
                {% endfor %}
            </div>
            <div class="publication-title-group">
                <span class="publication-title">Publications</span>
                <a class="publication-link" href="https://ncsoft.github.io/ncresearch/publications/">더보기</a>
            </div>
            <div class="publication-group">
                {% assign pubs = site.data.publications | sort: "year" | reverse %}
                {% for pub in pubs limit:5 %}
                    <div class="publication_div">
                        <h3 class="pub_title">
                            {{ pub.title }}
                        </h3>
                        <div class='publications_meta'>{{ pub.conf }}</div>
                        <div class='publications_author'>{{ pub.authors }}</div>
                    </div>
                    {% if forloop.index < 5 %}
                        <hr style="margin: 0; padding: 0;"/>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
