---
layout: page
---

<script src="{{ site.baseurl | prepend: site.url }}/assets/js/blogs.js"></script>

<div class="home">
  <div id="categories">
    <div>
      <div class="blog-page">
        <div class="item-filter">
          <div class="item-filter-title">
            FILTERS
          </div>
          <div class="blog-filter-big">
            <input type="checkbox" id="ai" checked/><label for="ai"></label><span class="blog-filter-big-title">　AI</span><span class="chevron"></span>
          </div>
          <div id="ai_subtech">
            <div class="blog-filter-small"><input type="checkbox" id="speech" checked/><label for="speech"></label>　Speech</div>
            <div class="blog-filter-small"><input type="checkbox" id="vision" checked/><label for="vision"></label>　Vision</div>
            <div class="blog-filter-small"><input type="checkbox" id="graphics" checked/><label for="graphics"></label>　Graphics</div>
            <div class="blog-filter-small"><input type="checkbox" id="reinforcement_learning" checked/><label for="reinforcement_learning"></label>　Reinforcement Learning</div>
            <div class="blog-filter-small"><input type="checkbox" id="ai_system" checked/><label for="ai_system"></label>　AI System</div>
          </div>
          <div class="blog-filter-big">
            <input type="checkbox" id="nlp" checked/><label for="nlp"></label><span class="blog-filter-big-title">　NLP</span><span class="chevron"></span>
          </div>
          <div id="nlp_subtech">
            <div class="blog-filter-small"><input type="checkbox" id="understanding" checked/><label for="understanding"></label>　Understanding</div>
            <div class="blog-filter-small"><input type="checkbox" id="dialogue" checked/><label for="dialogue"></label>　Dialogue</div>
            <div class="blog-filter-small"><input type="checkbox" id="translation" checked/><label for="translation"></label>　Translation</div>
            <div class="blog-filter-small"><input type="checkbox" id="search" checked/><label for="search"></label>　Search</div>
            <div class="blog-filter-small"><input type="checkbox" id="data" checked/><label for="data"></label>　Data</div>
          </div>
          <div class="blog-filter-big">
            <input type="checkbox" id="applied_ai" checked/><label for="applied_ai"></label><span class="blog-filter-big-title">　Applied AI</span><span class="chevron"></span>
          </div>
          <div id="applied_ai_subtech">
            <div class="blog-filter-small"><input type="checkbox" id="curation" checked/><label for="curation"></label>　Curation</div>
            <div class="blog-filter-small"><input type="checkbox" id="anomaly_detection" checked/><label for="anomaly_detection"></label>　Anomaly Detection</div>
            <div class="blog-filter-small"><input type="checkbox" id="sequence_modeling" checked/><label for="sequence_modeling"></label>　Sequence Modeling</div>
            <div class="blog-filter-small"><input type="checkbox" id="xai" checked/><label for="xai"></label>　XAI</div>
          </div>
        </div>
        <div class="items">
          {% assign posts = site.posts | sort: "index" | reverse %}
          {% for post in posts %}
            {% if post.show %}
              <div class="blog-post-item {% if post.tags.size > 0 %}{% for tag in post.tags %}{{ tag }} {% endfor %}{% endif %}">
                <a href="{{ post.url | relative_url }}" class="category-post-link">
                  <h3>
                    {{ post.title }}
                    {% if post.new == true %}
                      <span class="category-item-new"></span>
                    {% endif %}
                  </h3>
                  {% if site.excerpt or site.theme_settings.excerpt %}
                    <div class="excerpt">
                      {% if site.excerpt == "truncate" %}
                        {{ post.content | strip_html | truncate: '250' | escape }}
                      {% else %}
                        {{ post.excerpt | strip_html | truncate: '75' | escape }}
                      {% endif %}
                    </div>
                  {% endif %}
                </a>
                {% if post.tags.size > 0 %}
                  <div class='tag-list'>
                    {% for tag in post.tags %}
                      <a class='button' href='{{site.baseurl}}/tags/#{{ tag }}'>{{ tag }}</a>
                    {% endfor %}
                  </div>
                {% endif %}
              {% assign _author2 = post.author2 %}
              {% include blog/post_info.liquid author=post.author author2=_author2 date=post.date %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>