---
layout: page
---
<div class="home">
  <div id="categories">
    <div>
      <div class="blog-page">
        <div class="item-filter">
          <div class="item-filter-title">
            FILTERS
          </div>
          <div class="blog-filter-big" id="ai">
            <input type="checkbox"/>　AI
          </div>
          <div>
            <div class="blog-filter-small" id="speech"><input type="checkbox" />　Speech</div>
            <div class="blog-filter-small" id="vision"><input type="checkbox" />　Vision</div>
            <div class="blog-filter-small" id="graphics"><input type="checkbox" />　Graphics</div>
            <div class="blog-filter-small" id="reinforcement_learning"><input type="checkbox" />　Reinforcement Learning</div>
            <div class="blog-filter-small" id="ai_system"><input type="checkbox" />　AI System</div>
          </div>
          <div class="blog-filter-big" id="nlp">
            <input type="checkbox"/>　NLP
          </div>
          <div>
            <div class="blog-filter-small" id="understanding"><input type="checkbox" />　Understanding</div>
            <div class="blog-filter-small" id="dialogue"><input type="checkbox" />　Dialogue</div>
            <div class="blog-filter-small" id="translation"><input type="checkbox" />　Translation</div>
            <div class="blog-filter-small" id="search"><input type="checkbox" />　Search</div>
            <div class="blog-filter-small" id="data"><input type="checkbox" />　Data</div>
          </div>
          <div class="blog-filter-big" id="applied_ai">
            <input type="checkbox"/>　Applied AI
          </div>
          <div>
            <div class="blog-filter-small" id="curation"><input type="checkbox" />　Curation</div>
            <div class="blog-filter-small" id="anomaly_detection"><input type="checkbox" />　Anomaly Detection</div>
            <div class="blog-filter-small" id="sequence_modeling"><input type="checkbox" />　Sequence Modeling</div>
            <div class="blog-filter-small" id="xai"><input type="checkbox" />　XAI</div>
          </div>
        </div>
        <div class="items">
          {% for post in site.posts %}
            {% if post.show %}
              <a href="{{ post.url | relative_url }}" class="category-post-link">
                <h3>
                  {{ post.title }}
                </h3>
                {% if site.excerpt or site.theme_settings.excerpt %}
                  <div class="excerpt">
                    {% if site.excerpt == "truncate" %}
                      {{ post.content | strip_html | truncate: '250' | escape }}
                    {% else %}
                      {{ post.excerpt | strip_html | truncate: '75' | escape }}
                    {% endif %}
                  </div>
                {% endif %}
                {% if post.tags.size > 0 %}
                  <div class='tag-list'>
                    {% for tag in post.tags %}
                      <a class='button' href='{{site.baseurl}}/tags/#{{ tag }}'>{{ tag }}</a>
                    {% endfor %}
                  </div>
                {% endif %}
                {% include blog/post_info.liquid author=post.author date=post.date %}
              </a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>