---
layout: page
---
<div class="home">
  <div id="categories">
    <div>
      <div class="blog-page">
        <div class="item-filter">
          <div class="item-filter-title">
            FILTERS
          </div>
          <div class="blog-filter-big" id="ai">
            <input type="checkbox"/>　AI
          </div>
          <div>
            <div class="blog-filter-small" id="speech">Speech</div>
            <div class="blog-filter-small" id="vision">Vision</div>
            <div class="blog-filter-small" id="graphics">Graphics</div>
            <div class="blog-filter-small" id="reinforcement_learning">Reinforcement Learning</div>
            <div class="blog-filter-small" id="ai_system">AI System</div>
          </div>
          <div class="blog-filter-big" id="nlp">
            <input type="checkbox"/>　NLP
          </div>
          <div>
            <div class="blog-filter-small" id="understanding">Understanding</div>
            <div class="blog-filter-small" id="dialogue">Dialogue</div>
            <div class="blog-filter-small" id="translation">Translation</div>
            <div class="blog-filter-small" id="search">Search</div>
            <div class="blog-filter-small" id="data">Data</div>
          </div>
          <div class="blog-filter-big" id="applied_ai">
            <input type="checkbox"/>　Applied AI
          </div>
          <div>
            <div class="blog-filter-small" id="curation">Curation</div>
            <div class="blog-filter-small" id="anomaly_detection">Anomaly Detection</div>
            <div class="blog-filter-small" id="sequence_modeling">Sequence Modeling</div>
            <div class="blog-filter-small" id="xai">XAI</div>
          </div>
        </div>
        <div class="items">
          {% for post in site.posts %}
            {% if post.show %}
              <a href="{{ post.url | relative_url }}" class="category-post-link">
                <h3>
                  {{ post.title }}
                </h3>
                {% if site.excerpt or site.theme_settings.excerpt %}
                  <div class="excerpt">
                    {% if site.excerpt == "truncate" %}
                      {{ post.content | strip_html | truncate: '250' | escape }}
                    {% else %}
                      {{ post.excerpt | strip_html | truncate: '75' | escape }}
                    {% endif %}
                  </div>
                {% endif %}
                {% if post.tags.size > 0 %}
                  <div class='tag-list'>
                    {% for tag in post.tags %}
                      <a class='button' href='{{site.baseurl}}/tags/#{{ tag }}'>{{ tag }}</a>
                    {% endfor %}
                  </div>
                {% endif %}
                {% include blog/post_info.liquid author=post.author date=post.date %}
              </a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>