---
layout: page
---

<script src="{{ site.baseurl | prepend: site.url }}/assets/js/blogs.js"></script>

<div class="home">
  <div id="categories">
    <div>
      <div class="blog-page">
        <div class="item-filter">
          <div class="item-filter-title">FILTERS</div>

          <div class="blog-filter-big">
            <input type="checkbox" id="ai" checked /><label for="ai"></label><span class="blog-filter-big-title">　AI</span><span id="ai_chevron" class="chevron"></span>
          </div>
          <div id="ai_subtech">
            <div class="blog-filter-small"><input type="checkbox" id="speech" checked /><label for="speech"></label><span class="blog-filter-small-title">　Speech</span></div>
            <div class="blog-filter-small"><input type="checkbox" id="vision" checked /><label for="vision"></label><span class="blog-filter-small-title">　Vision</span></div>
            <div class="blog-filter-small"><input type="checkbox" id="graphics" checked /><label for="graphics"></label><span class="blog-filter-small-title">　Graphics</span></div>
            <div class="blog-filter-small"><input type="checkbox" id="reinforcement_learning" checked /><label for="reinforcement_learning"></label><span class="blog-filter-small-title">　Reinforcement Learning</span></div>
            <div class="blog-filter-small"><input type="checkbox" id="ai_system" checked /><label for="ai_system"></label><span class="blog-filter-small-title">　AI System</span></div>
          </div>

          <div class="blog-filter-big">
            <input type="checkbox" id="nlp" checked /><label for="nlp"></label><span class="blog-filter-big-title">　NLP</span><span id="nlp_chevron" class="chevron"></span>
          </div>
          <div id="nlp_subtech">
            <div class="blog-filter-small"><input type="checkbox" id="understanding" checked /><label for="understanding"></label><span class="blog-filter-small-title">　Understanding</span></div>
            <div class="blog-filter-small"><input type="checkbox" id="dialogue" checked /><label for="dialogue"></label><span class="blog-filter-small-title">　Dialogue</span></div>
            <div class="blog-filter-small"><input type="checkbox" id="translation" checked /><label for="translation"></label><span class="blog-filter-small-title">　Translation</span></div>
            <div class="blog-filter-small"><input type="checkbox" id="search" checked /><label for="search"></label><span class="blog-filter-small-title">　Search</span></div>
            <div class="blog-filter-small"><input type="checkbox" id="data" checked /><label for="data"></label><span class="blog-filter-small-title">　Data</span></div>
          </div>

          <div class="blog-filter-big">
            <input type="checkbox" id="applied_ai" checked /><label for="applied_ai"></label><span class="blog-filter-big-title">　Applied AI</span><span id="applied_ai_chevron" class="chevron"></span>
          </div>
          <div id="applied_ai_subtech">
            <div class="blog-filter-small"><input type="checkbox" id="curation" checked /><label for="curation"></label><span class="blog-filter-small-title">　Curation</span></div>
            <div class="blog-filter-small"><input type="checkbox" id="anomaly_detection" checked /><label for="anomaly_detection"></label><span class="blog-filter-small-title">　Anomaly Detection</span></div>
            <div class="blog-filter-small"><input type="checkbox" id="sequence_modeling" checked /><label for="sequence_modeling"></label><span class="blog-filter-small-title">　Sequence Modeling</span></div>
            <div class="blog-filter-small"><input type="checkbox" id="xai" checked /><label for="xai"></label><span class="blog-filter-small-title">　XAI</span></div>
          </div>

          <div class="blog-filter-big">
            <input type="checkbox" id="financial_ai" checked /><label for="financial_ai"></label><span class="blog-filter-big-title">　Financial AI</span><span id="financial_ai_chevron" class="chevron"></span>
          </div>
          <div id="financial_ai_subtech">
            <div class="blog-filter-small"><input type="checkbox" id="investment-strategy" checked /><label for="investment-strategy"></label><span class="blog-filter-small-title">　Investment Strategy</span></div>
            <div class="blog-filter-small"><input type="checkbox" id="market-understanding" checked /><label for="market-understanding"></label><span class="blog-filter-small-title">　Market Understanding</span></div>
            <div class="blog-filter-small"><input type="checkbox" id="investor-understanding" checked /><label for="investor-understanding"></label><span class="blog-filter-small-title">　Investor Understanding</span></div>
            <div class="blog-filter-small"><input type="checkbox" id="mlops" checked /><label for="mlops"></label><span class="blog-filter-small-title">　MLOps</span></div>
          </div>
        </div>

        <div class="items">
          {% assign posts = site.posts | sort: "index" | reverse %}
          {% for post in posts %}
            {% if post.show %}
              <div class="blog-post-item {% if post.tags.size > 0 %}{% for tag in post.tags %}{{ tag }} {% endfor %}{% endif %}">
                <a href="{{ post.url | relative_url }}" class="category-post-link">
                  <h3>
                    {{ post.title }}
                    {% if post.new == true %}
                      <span class="category-item-new"></span>
                    {% endif %}
                  </h3>
                  {% if site.excerpt or site.theme_settings.excerpt %}
                    <div class="excerpt">
                      {% if site.excerpt == "truncate" %}
                        {{ post.content | strip_html | truncate: '250' | escape }}
                      {% else %}
                        {{ post.excerpt | strip_html | truncate: '75' | escape }}
                      {% endif %}
                    </div>
                  {% endif %}
                </a>
                {% if post.tags.size > 0 %}
                  <div class='tag-list'>
                    {% for tag in post.tags %}
                      <a class='button' href='{{site.baseurl}}/tags/#{{ tag }}'>{{ tag }}</a>
                    {% endfor %}
                  </div>
                {% endif %}
              {% assign _author2 = post.author2 %}
              {% include blog/post_info.liquid author=post.author author2=_author2 date=post.date %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>