---
layout: default
id: home
---

<script src="{{ site.baseurl | prepend: site.url }}/assets/js/main_page.js"></script>

<div class="home">
  <style scoped>
    {% assign image = site.header_feature_image | relative_url | split: '.' %}
    .call-out_img {
    background-image: url('{{ image | join: '.' }}');
    }
    {% if site.header_feature_image_responsive %}
      @media screen and (max-width: 768px) {
      .call-out_img {
                                                    background-image: url('{{ image[0] | append: '-medium.' | append: image[1] | default: image }}');
      }
                                            }
                                            @media screen and (max-width: 576px) {
                                                .call-out_img {
                                                    background-image: url('{{ image[0] | append: '-small.' | append: image[1] }}');
      }
                                            }
    {% endif %}
  </style>
  <div id="main" class="call-out call-out_img">
    <h1 class="header1">
      {{ site.header_text }}
    </h1>
    <h1 class="header2">
      {{ site.header_text2 }}
    </h1>
  </div>

  <article class="home-container">
    {% include blog/categories.liquid %}
  </article>

</div>