---
layout: default
---

<article class="main-container {% if page.feature-img %}feature-image{% endif %} ">

  <header id="main" style="background-image: url('{{ page.feature-img | relative_url }}')">
    <div
      class="title-padder"
      {% if page.h_color %}
      style="color:{{ page.h_color }}"
      {% endif %}>
      {% if page.hide_title %}
        <div class="feature-image-padding"></div>
      {% else %}
        <h1 id="{{ page.title | default: "" | cgi_escape }}" class="title {% if page.page-type %}main_page{% endif %}">
            {{ page.title2 | default: page.title }}
        </h1>
        {% if page.subtitle %}
          <h4 class="subtitle">{{ page.subtitle }}</h4>
        {% endif %}
      {% endif %}
    </div>
  </header>

  <section class="post-content">
    {% if page.bootstrap %}
      <div class="bootstrap-iso">
      {% endif %}
      {{ content }}
      {% if page.bootstrap %}
      </div>
    {% endif %}
  </section>


  <!-- Tag list for portfolio -->
  {% capture tag_list %}{{ page.tags | join: "|" }}{% endcapture %}
  {% include default/tags_list.liquid tags=tag_list %}

  <!-- Move Top Btn -->
  <div class='move_top_btn'></div>

</article>

<script>
  let move_top_btn = document.getElementsByClassName("move_top_btn")[0];
  move_top_btn.addEventListener('click', topFunction);

// When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function() {
    scrollFunction()
  };

  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      move_top_btn.style.display = "block";
    } else {
      move_top_btn.style.display = "none";
    }
  }

// When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
  }
</script>